<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">管理员管理</h6>
    <form action="" class="search_list_parent">
      <input type="text" class="search_list_search" id="searchUserName">
      <input type="button" value="搜索" id="searchUser" class="search_list_btn">
    </form>
    <button class='btn btn-success' id="addUser">
      <!--            data-toggle='modal' data-target='#exampleModal2'-->
      添加用户
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" id="id">编号</th>
          <th scope="col" id="username">用户名</th>
          <th scope="col" id="createdUser">创建人</th>
          <th scope="col" id="createdTime">创建时间</th>
          <th scope="col" id="modifiedUser">修改人</th>
          <th scope="col" id="modifiedTime">修改时间</th>
          <th scope="col" id="status">当前状态</th>
          <th scope="col" style="padding-left:20px;">更改密码</th>
          <th scope="col" style="padding-left:32px; ">删除</th>
        </tr>
        </thead>
        <tbody>
        <!--                <tr id="number">-->
        <!--                </tr>-->
        </tbody>
      </table>
      <!--                    分页-->
      <div id="pageId" class="box-footer clearfix" style="cursor: pointer">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="first page-link">首页</a></li>
          <li class="page-item"><a class="pre page-link">上一个</a></li>
          <li class="page-item"><a class="next page-link">下一个</a></li>
          <li class="page-item"><a class="last page-link">尾页</a></li>
          <li class="page-item"><a class="rowCount page-link"></a></li>
          <li class="page-item"><a class="pageCount page-link"></a></li>
          <li class="page-item"><a class="pageCurrent page-link"></a></li>
        </ul>
      </div>

    </div>
  </div>
  <link rel="stylesheet" href="../css/list.css">
  <link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!--    更改密码和添加用户按钮的弹出框-->
  <!--    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="width: 10%; ">修改密码</button>-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">修改</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="NewuserName" class="col-form-label">用户名:</label>
              <input type="text" class="form-control" id="NewuserName">
            </div>
            <div class="form-group">
              <label for="NewpassWord" class="col-form-label">密码:</label>
              <input type="password" class="form-control" id="NewpassWord">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消修改</button>
          <button type="button" class="btn btn-primary" id="determineChange">确认修改</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addExampleModalLabel">添加用户</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="addUserName" class="col-form-label">用户名:</label>
              <input type="text" class="form-control" id="addUserName">
            </div>
            <div class="form-group">
              <label for="addPassWord" class="col-form-label">密码:</label>
              <input type="password" class="form-control" id="addPassWord">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消添加</button>
          <button type="button" class="btn btn-primary" id="determineAdd">确认添加</button>
        </div>
      </div>
    </div>
  </div>

</div>
<script>
    /**请求当前页*/
    $(function () {
        // 当页面加载时请求当前页
        doFindObject();
        $(".clearfix").on("click", ".first,.pre,.next,.last", doJumpToPage);
        $("#determineChange").on("click", updateAdmin);
        $("#determineAdd").on("click", addUser);
        $("#addUser").on("click", showAddModal)
    });

    function showAddModal() {
        $("#addUserName").val('');
        $("#addPassWord").val('');
        $("#exampleModal2").modal('show');
    }

    /**当点击侧栏按钮执行此函数*/
    function doFindObject() {
        var pageCurrent = $("#pageId").data("pageCurrent");  //给PageId附上属性pageCurrent
        if (!pageCurrent) pageCurrent = 1;    //如果pageCurrent为null,则证明为此时当前页
        $.ajax({
            url: "/admin/getAdmin",
            method: "get",
            data: {
                pageCurrent: pageCurrent,
            },
        }).done(function (result) {
            console.log("result", result);
            if (result.state === 1) {
                // 显示数据
                doRender(result.data.records);
                // 设置分页
                setPagination(result.data);
            }
        })
    }

    /**管理员的删除操作:*/
    function deleteBtnClicked() {
        var id = $(this).parent().parent().children(":first").text(); //拿到对应的id
        console.log("Deleteid", id);
        if (confirm("确认删除嘛?")) {
            $.ajax({
                url: "/admin/deleteAdmin",
                method: "delete",
                data: {
                    ids: id,
                }
            }).done(function (result) {
                if (result.state === 1) {
                    doFindObject();
                }
            })
        }
    }

    /**添加用户*/
    function addUser() {
        var username = $("#addUserName").val();
        var password = $("#addPassWord").val();
        if (username === "" || password === "") {
            alert("用户名和密码不能为空");
            return;
        }
        if (confirm("确认添加么")) {
            $.ajax({
                url: "/admin/register",
                method: "post",
                data: {
                    username: username,
                    password: password,
                }
            }).done(function (result) {
                console.log("拿到被添加的数据", result);
                if (result.state === 1) {
                    alert("添加成功");
                }
                // $(".modal-backdrop.fade.show").removeClass("show");
                // $(".modal.fade.show").removeClass("show");
                // $("body").removeClass("modal-open");
                // $(".modal-backdrop.fade.show").remove();
                // $("#exampleModal2").hide();
                doFindObject();
            })
        }
        $("#exampleModal2").modal('hide');
    }

    /**管理员的修改操作:*/
    function changePassword() {
        $("#NewuserName").val("");
        $("#NewpassWord").val("");
        var userName = $(this).parent().parent().children(":first").next().text();  //为了让弹出框的value默认为用户名
        console.log(userName);
        // console.log("哈哈哈这是",userName);
        $("#NewuserName").val(userName);
        var id = $(this).parent().parent().children(":first").text(); //拿到对应的id
        // console.log("this",this);
        // console.log("id",id);

        $(".modal-dialog").data("id", id);
        $("#exampleModal").hide();
        $("#exampleModal2").hide();
    }

    function updateAdmin() {
        console.log("id", $(".modal-dialog").data("id"));
        var id = $(".modal-dialog").data("id")
        var newUserName = $("#NewuserName").val();   //拿到input里面新的用户名
        var newPassWord = $("#NewpassWord").val();   //拿到input框里新的密码
        console.log(newUserName)
        console.log(newPassWord)
        if (newUserName == "" || newPassWord == "") {
            alert("用户名和密码不能为空")
            return;
        }
        $.ajax({                  // 把拿到的新数据发送给服务器,再拿回服务器返回的数据,如果成功则重新渲染页面
            url: "/admin/updateAdmin",
            method: "put",
            data: {
                id: id,
                username: newUserName,
                password: newPassWord,
            }
        }).done(function (result) {
            console.log("修改请求", result);
            // $(this).attr('placeholder',"result.username");
            if (result.state === 1) {
                alert("修改成功!!");
                $(".modal-backdrop.fade.show").removeClass("show");
                $(".modal.fade.show").removeClass("show");
                doFindObject();
            }
        });
        $("#exampleModal").hide();
        $("#exampleModal2").hide();
    }

    /**动态列表渲染*/
    function doRender(records) {
        let tbody = $("tbody");
        tbody.empty();
        records.forEach(function (item, index, array) {
            for (let i in item) {
                if (!item[i]) {
                    item[i] = "暂无";
                }
            }
            let tr = $("<tr>");

            let id_td = $("<td>");
            id_td.text(item.id);
            tr.append(id_td);

            let username_td = $("<td>");
            username_td.text(item.username);
            tr.append(username_td);

            let createdUser_td = $("<td>");
            createdUser_td.text(item.createdUser);
            tr.append(createdUser_td);

            let createdTime_td = $("<td>");
            createdTime_td.text(item.createdTime);
            tr.append(createdTime_td);

            let modifiedUser_td = $("<td>");
            modifiedUser_td.text(item.modifiedUser);
            tr.append(modifiedUser_td);

            let modifiedTime_td = $("<td>");
            modifiedTime_td.text(item.modifiedTime);
            tr.append(modifiedTime_td);

            let status_td = $("<td>");
            console.log(item.status)
            status_td.text(item.status == "暂无" ? "已删除" : "正常");
            tr.append(status_td);

            let button_td = $("<td>");
            let button = $("<button class='btn btn-info'>修改密码</button>");
            button_td.append(button);
            button.on("click", changePassword);
            button.attr("data-toggle", "modal");
            button.attr("data-target", "#exampleModal");
            tr.append(button_td);

            let delete_td = $("<td>");
            let delete_button = $("<button class='btn btn-danger'>删除用户</button>");
            if (item.status == "暂无") {
                delete_button.attr("disabled", true);
                button.attr("disabled", true);
            }
            delete_td.append(delete_button);
            delete_button.on("click", deleteBtnClicked);
            tr.append(delete_td);

            tbody.append(tr);
        })
    }

    /**分页渲染*/
    function setPagination(pageObject) {
        $("#pageId").data("pageCurrent", pageObject.pageCurrent);
        $("#pageId").data("pageCount", pageObject.pageCount);

        $(".rowCount").html("总记录数(" + pageObject.rowCount + ")");
        $(".pageCount").html("总页数(" + pageObject.pageCount + ")");
        $(".pageCurrent").html("当前页(" + pageObject.pageCurrent + ")");

    }

    /**分页页面跳转*/
    function doJumpToPage() {
        var pageCurrent = $("#pageId").data("pageCurrent");
        var pageCount = $("#pageId").data("pageCount");
        var cls = $(this).prop("class");
        //console.log(cls);
        if (cls === "first page-link") {
            pageCurrent = 1;
        }
        if (cls === "pre page-link" && pageCurrent > 1) {
            pageCurrent--;
        }
        if (cls === "next page-link" && pageCurrent < pageCount) {
            pageCurrent++;
        }
        if (cls === "last page-link") {
            pageCurrent = pageCount;
        }
        $("#pageId").data("pageCurrent", pageCurrent);
        doFindObject();
    }


    /**管理员的搜索操作*/
    $("#searchUser").on("click", function () {
        var pageCurrent = $("#pageId").data("pageCurrent");
        var searchUsername = $("#searchUserName").val();
        if (searchUsername == null || searchUsername == "") {
            alert("查询不能为空");
        }
        $.ajax({
            url: "/admin/getAdmin",
            method: "get",
            data: {
                pageCurrent: pageCurrent,
                username: searchUsername,
            }
        }).done(function (result) {
            console.log("输入框拿到的值", result);
            // 显示数据
            doRender(result.data.records);
            // 设置分页
            setPagination(result.data);

        })
    })


</script>
