<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>互联果蔬</title>

  <!-- Custom fonts for this template -->
  <link href="/admin/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <style>
    .sidebar .nav-item .nav-link {
      text-align: center;
    }
  </style>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
      <div class="sidebar-brand-icon rotate-n-15">
        <!--        <i class="fas fa-laugh-wink"></i>-->
      </div>
      <div class="sidebar-brand-text mx-3">互联果蔬</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" style="cursor: pointer">
      <a class="nav-link" id="doAdminListUI" onclick="doAdminListUI()">
        <!--        <i class="fas fa-fw fa-tachometer-alt"></i>-->
        <span>用户管理</span></a>
    </li>
    <!-- Divider -->
    <!-- Heading -->
    <!--      <div class="sidebar-heading">-->
    <!--        Interface-->
    <!--      </div>-->

    <!-- Nav Item - Pages Collapse Menu -->
    <hr class="sidebar-divider">
    <li class="nav-item" style="cursor: pointer">
      <a class="nav-link collapsed" onclick="doWechatUserList()">
        <!--        <i class="fas fa-fw fa-tachometer-alt"></i>-->
        <span>微信用户管理</span>
      </a>
    </li>
    <hr class="sidebar-divider">

    <li class="nav-item" style="cursor: pointer">
      <a class="nav-link " id="doCategoryListUI" onclick="doCategoryList()">
        <!--        <i class="fas fa-fw fa-tachometer-alt"></i>-->
        <span>类别管理</span>
      </a>
      <!--        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
      <!--          <div class="bg-white py-2 collapse-inner rounded">-->
      <!--            <h6 class="collapse-header">Custom Components:</h6>-->
      <!--            <a class="collapse-item" href="#">Buttons</a>-->
      <!--            <a class="collapse-item" href="#">Cards</a>-->
      <!--          </div>-->
      <!--        </div>-->
    </li>
    <hr class="sidebar-divider">
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item" style="cursor: pointer">
      <a class="nav-link collapsed" onclick="doGoodsList()">
        <!--        <i class="fas fa-fw fa-tachometer-alt"></i>-->
        <span>商品管理</span>
      </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item" style="cursor: pointer">
      <a class="nav-link collapsed" onclick="doOrderList()">
        <!--        <i class="fas fa-fw fa-tachometer-alt"></i>-->
        <span>订单管理</span>
      </a>

    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <li class="nav-item" style="cursor: pointer">
      <a class="nav-link collapsed" onclick="doWxSet()">
        <!--        <i class="fas fa-fw fa-tachometer-alt"></i>-->
        <span>微信设置</span>
      </a>

    </li>
    <hr class="sidebar-divider">
    <li class="nav-item" style="cursor: pointer">
      <a class="nav-link collapsed" onclick="doLogOut()">
        <!--        <i class="fas fa-fw fa-tachometer-alt"></i>-->
        <span>注销用户</span>
      </a>

    </li>
    <!-- Heading -->
    <!--      <div class="sidebar-heading">-->
    <!--        Addons-->
    <!--      </div>-->

    <!-- Nav Item - Pages Collapse Menu -->

    <!--    &lt;!&ndash; Nav Item - Charts &ndash;&gt;-->
    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="charts.html">-->
    <!--        &lt;!&ndash;        <i class="fas fa-fw fa-chart-area"></i>&ndash;&gt;-->
    <!--        <span>Charts</span></a>-->
    <!--    </li>-->

    <!--    &lt;!&ndash; Nav Item - Tables &ndash;&gt;-->
    <!--    <li class="nav-item active">-->
    <!--      <a class="nav-link" href="tables.html">-->
    <!--        <i class="fas fa-fw fa-table"></i>-->
    <!--        <span>Tables</span></a>-->
    <!--    </li>-->


  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <!--      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">-->

      <!--        &lt;!&ndash; Sidebar Toggle (Topbar) &ndash;&gt;-->
      <!--        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">-->
      <!--          <i class="fa fa-bars"></i>-->
      <!--        </button>-->


      <!--        &lt;!&ndash; Topbar Navbar &ndash;&gt;-->
      <!--        <ul class="navbar-nav ml-auto">-->

      <!--          &lt;!&ndash; Nav Item - Search Dropdown (Visible Only XS) &ndash;&gt;-->
      <!--          <li class="nav-item dropdown no-arrow d-sm-none">-->
      <!--            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"-->
      <!--               aria-haspopup="true" aria-expanded="false">-->
      <!--              <i class="fas fa-search fa-fw"></i>-->
      <!--            </a>-->
      <!--            &lt;!&ndash; Dropdown - Messages &ndash;&gt;-->
      <!--            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated&#45;&#45;grow-in"-->
      <!--                 aria-labelledby="searchDropdown">-->
      <!--              <form class="form-inline mr-auto w-100 navbar-search">-->
      <!--                <div class="input-group">-->
      <!--                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."-->
      <!--                         aria-label="Search" aria-describedby="basic-addon2">-->
      <!--                  <div class="input-group-append">-->
      <!--                    <button class="btn btn-primary" type="button">-->
      <!--                      <i class="fas fa-search fa-sm"></i>-->
      <!--                    </button>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--              </form>-->
      <!--            </div>-->
      <!--          </li>-->


      <!--          <div class="topbar-divider d-none d-sm-block"></div>-->

      <!--          &lt;!&ndash; Nav Item - User Information &ndash;&gt;-->
      <!--          <li class="nav-item dropdown no-arrow">-->
      <!--            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"-->
      <!--               aria-haspopup="true" aria-expanded="false">-->
      <!--              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>-->
      <!--            </a>-->
      <!--            &lt;!&ndash; Dropdown - User Information &ndash;&gt;-->
      <!--            <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in" aria-labelledby="userDropdown">-->
      <!--              <a class="dropdown-item" href="#">-->
      <!--                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
      <!--                Profile-->
      <!--              </a>-->
      <!--              <a class="dropdown-item" href="#">-->
      <!--                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
      <!--                Settings-->
      <!--              </a>-->
      <!--              <a class="dropdown-item" href="#">-->
      <!--                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>-->
      <!--                Activity Log-->
      <!--              </a>-->
      <!--              <div class="dropdown-divider"></div>-->
      <!--              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">-->
      <!--                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>-->
      <!--                Logout-->
      <!--              </a>-->
      <!--            </div>-->
      <!--          </li>-->

      <!--        </ul>-->

      <!--      </nav>-->
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid" style="font-size: small;">

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
<script>
    $(function () {
        let user = sessionStorage.getItem("user");
        if (user == null || typeof user == "undefined") {
            alert("请登录");
            window.location.href = "/admin/view/login.html";
        }
    });

    function doAdminListUI() {
        $(".container-fluid").load("/admin/doAdminList");
    }

    function doWechatUserList() {
        $(".container-fluid").load("/doWechatUserList");
    }

    function doCategoryList() {
        $(".container-fluid").load("/category/doCategoryList");
    }

    function doGoodsList() {
        $(".container-fluid").load("/goods/doGoodsList");
    }

    function doWxSet() {
        $(".container-fluid").load("/wechatConfig/doConfigUI");
    }

    function doOrderList() {
        $(".container-fluid").load("/order/doOrderList");
    }

    function doLogOut() {
        if (confirm("确认注销么")) {
            sessionStorage.removeItem("user");
            window.location.href = "/admin/view/login.html";
        }
    }
</script>
</body>

</html>
